.lid {
    background-color: black;
    width: 100%;
    height: 10vh;
    min-height: 5rem;
}


.lid p {
    color: white;
    font-size: 25px;
}

.bottle {
    background-color: #00A366;
    width: 100%;
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Nav Nav"
        "Bio Bio"
        "Employment Skills"
        "Projects Projects";
}

.Nav { 
    grid-area: Nav; 
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem/* 4px */;
    justify-content: space-evenly;
    justify-items: center;
    place-items: center;
}

.Bio { grid-area: Bio; }

.Employment { grid-area: Employment; }

.Skills { grid-area: Skills; }

.Projects { grid-area: Projects; }