.banner {
    position: relative;
    background-color: pink;
}

.banner img {
    opacity: 0.5;
    min-width: 100%;
    height: 10rem/* 160px */;
}

.banner img:hover {
    opacity: 0.6;
}

title {
    position: absolute;
    top: 25%;
    right: 50%;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}

tags {
    position: absolute;
    bottom: 25%;
    right: 50%;
}