.banner {
    position: relative;
    background-color: white;
    margin: 6px;
}

.banner img {
    
    opacity: 0.5;
    min-width: 100%;
    height: 12rem /* 160px */;
}

.banner img:hover {
    opacity: 0.6;
}

.project-title {
    position: absolute;
    top: 20%;
    right: 44%;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}

.tags {
    position: absolute;
    bottom: 20%;
    right: 50%;
}